<div [@fadeSlideIn]>
  <div class="container-fluid">
    <!-- Encabezado -->
    <h1 class="h3 mb-2 text-gray-800">Tiendas</h1>
    <p class="mb-4">Lista de tiendas registradas en el sistema.</p>

    <!-- Tabla de tiendas -->
    <div class="card shadow mb-4">
      <div
        class="card-header bg-light d-flex justify-content-between align-items-center"
      >
        <h6 class="m-0 font-weight-bold text-primary">Lista de Tiendas</h6>
        <div class="d-flex">
          <button class="btn btn-primary m-1" (click)="downloadReport()">
            <i class="fas fa-file-download"></i> Generar Reporte
          </button>
          <a class="btn btn-success m-1" routerLink="/store-create">
            <i class="fas fa-plus"></i> Crear Tienda
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-light">
              <tr>
                <th>Código</th>
                <th>Dirección</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let store of stores">
                <td>{{ store.code }}</td>
                <td>{{ store.address }}</td>
                <td class="text-center">
                  <a
                    class="btn btn-sm btn-primary mr-2"
                    [routerLink]="['/store-edit', store.id]"
                  >
                    <i class="fas fa-edit"></i> Editar
                  </a>
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="deleteStore(store.id)"
                  >
                    <i class="fas fa-trash"></i> Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
